apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: python-cluster-deployment
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
      - name: my-apache-container1
        image: mounika30/python-flask:latest
        ports:
        - containerPort: 3000



