---
apiVersion: v1
kind: Deployment
metadata:
  name: python-cluster
spec:
  replicas: 3
  selector:
    matchLabels:
      app: python-cluster
  template:
    metadata:
      labels:
        app: python-cluster
    spec:
      containers:
        - name: springboot
          image: mounika30/python-flask:latest
          ports:
            - containerPort: 3000
